.modal {
  :global {
    .ant-modal-body {
        margin-top: 26px;
        margin-bottom: 40px;
    }

    .ant-modal-content {
      border-radius: 16px;
    }

    .ant-form-item-label {
      padding-bottom: 8px;
    }

    .ant-modal-footer {
      padding: 0;
    }
  }
}

.modalTitle {
font-weight: 500;
line-height: 28px;
margin-bottom: 8px;
}

.modalDesc {
font-weight: 400;
font-size: 14px;
line-height: 22px;
color: rgba(0, 0, 0, 45%);
}
  